
/*font-family: 'IBM Plex Sans', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/





body {
/*	background-color: orange;*/
	display: flex;
	
	justify-content: center;
	font-family: 'IBM Plex Sans', sans-serif;

}

nav {

}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	margin: 1rem;
}

p {
	font-family: 'IBM Plex Sans', sans-serif;
}

.example-image {
	display: flex;
	margin: 3rem;
}

.example-image img {
	max-width: 100px;
	padding: 2rem;
}














