


main {
	max-width: 800px;
	margin: auto;

}


body {
	background-color: rgba(229, 172, 103, 0.5);

}

p {
	font-family: font-family: 'Noto Sans', sans-serif;
}



footer {


}

h1 {
	font-size: 4rem;
	font-display: ;
	text-transform: lowercase;
}

h2 {
	font-size: 2.5rem;
	text-transform: capitalize;
}


.fancy-text {
	font-family: 'Nabla', cursive;

}

.crabgrounds6 {
	background-image: 
	linear-gradient(rgba(115, 191, 255, 0.5), rgba(229, 172, 103, 1.0)),
/*	linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),*/
  	url("../img/crab-background.png");
  	background-repeat: no-repeat;

}

.greens {
/*	text-shadow: 5px 5px #558ABB;*/
/*	background-color: goldenrod;*/
background-color: rgba(218,165,32,0.5);
}


.example-font .blues2 p {
	font-family: 'Crimson Pro', serif;
	font-size: 1.5rem;
/*	text-decoration: underline;*/
	text-decoration: underline  10px #FF3028;

}

.image-type-1 {
	background-color: rebeccapurple;
	padding: 4rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.mailing-link {

}

.mailing-link img {
/*	width: 100%;*/
/*	margin: 1rem;*/
	margin: auto;
	border-radius: 20rem;
/*	filter: drop-shadow(0 0 0.75rem #00bfff);*/
/*	filter: drop-shadow(0 0 0.75rem crimson);*/
	filter: drop-shadow(0 0 0.75rem #913814);
}

.mailing-link a {

}

.listings {

}

.punchline {
	text-decoration: #00bfff wavy 2px underline;
	text-transform: lowercase;
}

.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 24
		}

.monotype {
			font-family: 'IBM+Plex', monospace;
		}

/*.blues {
	rgba(115, 191, 255, 0.5) 73bfff
}

.redsand {
	rgba(229, 172, 103, 0.5) e5ac67

}

.teallight {
	rgba(134, 206, 170, 0.5) 86ceaa

}*/


/*@media (min-width: 300px) {
	p {
		font-family: 'Nabla', cursive;
		font-size: 1rem;
	}
}

@media (min-width: 600px) {
	body {
	background-color: rgba(229, 172, 103, 0.5);

	}
	.punchline {
	text-decoration: crimson wavy 2px underline;
	text-transform: uppercase;

	}

}*/




@media (max-width: 500px){
	main {width: 100%}
	img {
		width: 100%;
	}




}